In [3]:
import pandas as pd

Q1. What data structure(s) could you store this data in? What are the benefits of storing in each of the data structures you can think of?
-> We are using csv file to store this data and using  pandas we can read this csv

In [6]:
df= pd.read_csv("Programming Exercise Data_World Population Data.csv")

In [8]:
df

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,54208,55434,56234,56699,57029,57357,57702,58044,58377,...,102050,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Afghanistan,8996967,9169406,9351442,9543200,9744772,9956318,10174840,10399936,10637064,...,30117411,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
2,Angola,5454938,5531451,5608499,5679409,5734995,5770573,5781305,5774440,5771973,...,24220660,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0
3,Albania,1608800,1659800,1711319,1762621,1814135,1864791,1914573,1965598,2022272,...,2905195,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0
4,Andorra,13410,14378,15379,16407,17466,18542,19646,20760,21886,...,83748,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Kosovo,947000,966000,994000,1022000,1050000,1078000,1106000,1135000,1163000,...,1791000,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0
210,"Yemen, Rep.",5315351,5393034,5473671,5556767,5641598,5727745,5816241,5907873,6001858,...,23807586,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0
211,South Africa,17099836,17524533,17965733,18423157,18896303,19384838,19888259,20406863,20942147,...,52003759,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0
212,Zambia,3070780,3164330,3260645,3360099,3463211,3570466,3681953,3797877,3918872,...,14023199,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0
213,Zimbabwe,3776679,3905038,4039209,4178726,4322854,4471178,4623340,4779825,4941901,...,12894323,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0

Q2. Write a program/function to find the country/region with the highest and lowest population in a given year. Take the year as input from the user or from the command line.

In [24]:
def get_high_low_pop(year,df):
    high_pop= df["1960"].max()
    low_pop = df["1960"].min()
    high_pop_region = df["Country Name"].loc[df["1960"]==high_pop].values[0]  
    low_pop_region = df["Country Name"].loc[df["1960"]==low_pop].values[0]
    return high_pop_region,low_pop_region
    
high_poget_high_low_pop

In [22]:
high_pop

2126448264

In [32]:
high_pop_region.values[0]

'Middle income'

In [20]:
low_pop_region

182    Sint Maarten (Dutch part)
Name: Country Name, dtype: object

In [21]:
df.iloc[126]

Country Name    Middle income
1960               2126448264
1961               2152809007
1962               2192361842
1963               2243997513
                    ...
2016             5610235989.0
2017             5674542216.0
2018             5736478191.0
2019             5796189831.0
2020             5853079114.0
Name: 126, Length: 62, dtype: object